{% extends "project_base.html" %}

{% block workspace %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

<!-- Attachments pop-up -->

<style>
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    #modal {
        display: none;
        position: absolute;
        /*background: url(tint20.png) 0 0 repeat;*/
        /*background: rgba(0, 0, 0, 0.2);*/
        /*border-radius: 14px;*/
        /*padding: 8px;*/
    }

    #content {
        border-radius: 8px;
        background: #eeeeee;
        padding: 20px;
        -moz-box-shadow: 3.5px 3.5px 5px #666666;
        -webkit-box-shadow: 3.5px 3.5px 5px #666666;
        box-shadow: 3.5px 3.5px 5px #666666;
    }

    #close {
        /*position: absolute;*/
        /*background: url(close.png) 0 0 no-repeat;*/
        /*width: 24px;*/
        /*height: 27px;*/
        /*display: block;*/
        /*text-indent: -9999px;*/
        /*top: -7px;*/
        /*right: -7px;*/

    }

</style>

<div id='overlay'></div>
<div id='modal'>
    <div id='content'>
        <table class="bordered_table">
            <input type="hidden" name="project_id" value="{{ project.key.id() }}">
            <tr>
                <th class="bordered_cell">Name</th>
                <th class="bordered_cell">Description</th>
                <th class="bordered_cell">Filename</th>
                <th class="bordered_cell">Image</th>
                <th class="bordered_cell"></th>
            </tr>
            {% for attachment in attachments %}
            <tr>
                <td class="bordered_cell">
                    <a href='/project_admin/attachment_edit?project_id={{ project.key.id() }}&attachment_id={{ attachment.key.id() }}'>{{
                        attachment.name | e }}</a>
                </td>
                <td class="bordered_cell">
                    {{ attachment.description | e }}
                </td>
                <td class="bordered_cell">
                    {{ attachment.filename | e}}
                </td>
                {% if attachment.is_image %}
                <td class="bordered_cell" style="text-align: center;">
                    <img height="32px;"
                         src="/project_admin/attachment_download?project_id={{ project.key.id() }}&attachment_id={{ attachment.key.id() }}">
                </td>
                {% else %}
                <td class="bordered_cell"></td>
                {% endif %}
                <td class="bordered_cell" style="text-align: center;">
                    <input type="button" value="Insert Marker" onclick="modal.insertAttachment('*** INSERT &quot;{{ attachment.filename | e }}&quot; ({{ attachment.media_type }}) style=&quot;&quot; HERE ***')">
                </td>
            </tr>
            {% endfor %}
        </table>
        <table style="width: 100%">
            <tr>
                <td style="text-align: center;">
                    <input type="button" value="Cancel" onclick="modal.close()"/>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="/ui/{{ ui }}/scripts/jHtmlArea-0.7.5.js"></script>
<link rel="Stylesheet" type="text/css" href="/ui/{{ ui }}/stylesheets/jHtmlArea.css"/>

<!-- Enable HTML editor -->

<script>
    $(function () {
        $(".html-editor").htmlarea({});
    })
</script>

<!-- Web page -->

<form method="post">
    <input type="hidden" name="_project_id" value="{{ project.key.id() }}">
    <input type="hidden" name="_post_interview_name" value="{{ post_interview_name | e }}">
    {% if show_index %}
    <input type="hidden" name="_index" value="{{ index }}">
    {% endif %}
    {% if from_console %}
    <input type="hidden" name="_from_console" value="yes">
    {% endif %}

    {{ html_document }}

    <p>

        {% if previous_button %}
        <input type="submit" name="_previous" value="{{ previous_button | e }}">
        {% endif %}

        {% if child_button %}
        <input type="submit" name="_child" value="{{ child_button | e }}">
        {% endif %}

        {% if next_button %}
        <input type="submit" name="_next" value="{{ next_button | e }}">
        {% endif %}

        {% if parent_button and not from_document_id %}
        <input type="submit" name="_parent" value="{{ parent_button | e }}">
        {% endif %}

        {% if assign_button %}
        <input type="submit" name="_assign" value="{{ assign_button | e }}">
        {% endif %}

        {% if not_needed_button %}
        <input type="submit" name="_not_needed" value="{{ not_needed_button | e }}">
        {% endif %}

        {% if completed_button and not from_document_id %}
        <input type="submit" name="_completed" value="{{ completed_button | e }}">
        {% endif %}

        {% if from_document_id %}
        <input type="submit" name="_save" value="Save">
        {% endif %}

        {% if from_console %}
        <input type="button" value="Cancel"
               onclick="document.location='/project_admin/console?project_id={{ project.key.id() }}'">
        {% elif from_document_id %}
        <input type="button" value="Cancel"
               onclick="document.location='/project/produce_document?project_id={{ project.key.id() }}&document_id={{ from_document_id }}'">
        {% else %}
        <input type="button" value="Cancel" onclick="document.location='/project?project_id={{ project.key.id() }}'">
        {% endif %}

    </p>
</form>

{% endblock %}
