{% extends "template_base.html" %}

{% block workspace %}

<h3>Sharing: Edit Users</h3>

{% if error_msg %}
<p>
    <span class="error">{{ error_msg }}</span>
</p>
{% endif %}

<form method="post">
    <input type="hidden" name="template_id" value="{{ template.key.id() }}">
    <input type="hidden" name="template_user_id" value="{{ template_user_id }}">
    <table>
        <tr>
            <th>Email: {{ email | e }}</th>
        </tr>
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type="submit" name="delete" value="Stop Sharing Template with User">
            </td>
            <td>
                <input type="button" value="Cancel"
                       onclick="document.location='/template_admin/template_user_admin?template_id={{ template.key.id() }}'">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
