{% extends "site_base.html" %}

{% block workspace %}

<div id="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    User interface 
                </h3>
            </div>
            <div id="page" class="dashboard">
                <div class="row-fluid"> 

                    <form method="post">
                        <th>User interface:</th>
                        <input type="radio" name="ui" value="basic"{% if ui == "basic" %} checked{% endif %}>Basic
                        <input type="radio" name="ui" value="tempest"{% if ui == "tempest" %} checked{% endif %}>Tempest
                        <input type="radio" name="ui" value="cypress"{% if ui == "cypress" %} checked{% endif %} disabled>Cypress
                        <br>
                        <br>
                        <input type="submit" name="save" value="Save">
                        <input type="button" value="Cancel" onclick="document.location='/'">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
