{% extends "project_base.html" %}

{% block workspace %}

<h3>Define Document Structure</h3>

{% if error_msg %}
<p>
    <span class="error">{{ error_msg | e }}</span>
</p>
{% endif %}

<form method="post">
    <input type="hidden" name="project_id" value="{{ project.key.id() }}">
    <input type="hidden" name="document_id" value="{{ document_id }}">
    <table>
        <tr>
            <th>Document Name: {{ name | e }}</th>
        </tr>
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table class="bordered_table">
        {% if items %}
        <tr>
            <th class="bordered_cell">Item</th>
            <th class="bordered_cell">Style</th>
            <th class="bordered_cell">Flow Control</th>
            <th class="bordered_cell">Position</th>
        </tr>
        {% endif %}
        {% set index = -1 %}
        {% for item in items %}
        {% set index = index + 1 %}
        <tr>
            <td class="bordered_cell">
                {% set item_type = item.item_type %}
                {% if item_type == "S" %}
                Single Variable:
                <select name="single_name.{{ index }}">
                    <option value="">(select)</option>
                    {% for single_name in single_names %}
                    <option value="{{ single_name | e }}"
                    {% if item.variable_name == single_name %} selected{% endif %}>{{ single_name | e }}</option>
                    {% endfor %}
                </select>
                {% elif item_type == "R" %}
                Repeating Variable:
                <select name="repeating_name.{{ index }}">
                    <option value="">(select)</option>
                    {% for repeating_name in repeating_names %}
                    <option value="{{ repeating_name | e }}"
                    {% if item.variable_name == repeating_name %} selected{% endif %}>{{ repeating_name | e }}</option>
                    {% endfor %}
                </select>
                {% elif item_type == "T" %}
                Text:
                <input name="text.{{ index }}" style="width: 300px"
                       value="{% if item.text %}{{ item.text | e }}{% endif %}"/>
                {% else %}
                <span class="error">Unrecognized item type</span>
                {% endif %}
            </td>
            <td class="bordered_cell">
                <select name="style_name.{{ index }}">
                    <option value="">(default)</option>
                    {% for style_name in style_names %}
                    <option value="{{ style_name | e}}"
                    {% if item.style_name == style_name %} selected{% endif %}>{{ style_name | e }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="bordered_cell">
                <select name="flow_control.{{ index }}">
                    <option value="C"
                    {% if item.flow_control == "C" %} selected{% endif %}>Continue Flow</option>
                    <option value="B"
                    {% if item.flow_control == "B" %} selected{% endif %}>Begin Repeating Group</option>
                    <option value="E"
                    {% if item.flow_control == "E" %} selected{% endif %}>End Repeating Group</option>
                </select>
            </td>
            <td class="bordered_cell" style="text-align: center">
                <input name="position.{{ index }}" style="width: 30px" value="{{ item.position }}"/>
                <input type="submit" name="change_position.{{ index }}" value="Change"/>
                <input type="submit" name="remove_position.{{ index }}" value="Remove"/>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="bordered_cell" colspan="4" style="text-align: center">
                <input type="submit" name="add_single_variable" value="Add Single Variable"/>
                <input type="submit" name="add_repeating_variable" value="Add Repeating Variable"/>
                <input type="submit" name="add_text" value="Add Text"/>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type="submit" name="update" value="Update Structure">
            </td>
            <td>
                <input type="button" value="Cancel"
                       onclick="document.location='/project/document?project_id={{ project.key.id() }}'">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
