{% extends "template_base.html" %}

{% block workspace %}

<h3>Define Assignments: Edit Assignment</h3>

{% if error_msg %}
<p>
    <span class="error">{{ error_msg | e }}</span>
</p>
{% endif %}

<form method="post">
    <input type="hidden" name="template_id" value="{{ template.key.id() }}">
    <input type="hidden" name="assignment_id" value="{{ assignment_id }}">
    <table>
        <tr>
            <th>Assignment Name: {{ name | e }}</th>
        </tr>
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Description:</th>
            <td>
                <textarea name="description" autofocus>{{ description | e }}</textarea>
            </td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                <input type="radio" name="type" value="single"{% if type == "single" %} checked{% endif %}> Single
                <input type="radio" name="type" value="repeating"{% if type == "repeating" %} checked{% endif %}> Repeating
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type="submit" name="update" value="Update Assignment">
            </td>
            <td>
                <input type="submit" name="delete" value="Delete Assignment from Template">
            </td>
            <td>
                <input type="button" value="Cancel"
                       onclick="document.location='/template/assignment?template_id={{ template.key.id() }}'">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
