{% extends "template_base.html" %}

{% block workspace %}

<h3>Define Variables</h3>

<table class="bordered_table">
    <tr>
        <th class="bordered_cell">Variable Name</th>
        <th class="bordered_cell" style="text-align: center">Type</th>
        <th class="bordered_cell">Input Field</th>
    </tr>
    {% for variable in variables %}
    <tr>
        <td class="bordered_cell">
            <a href="/template/variable/edit?template_id={{ template.key.id() }}&variable_id={{ variable.id }}"
                >{{ variable.name | e }}</a>
        </td>
        <td class="bordered_cell">
            {% if variable.is_repeating %}
                Repeating
            {% else %}
                Single
            {% endif %}
        </td>
        <td class="bordered_cell" style="text-align: center">
            {% if variable.input_field == "S" %}
                Short Field
            {% elif variable.input_field == "M" %}
                Full Line
            {% else %}
                Edit Box
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="bordered_cell">
            <a href="/template/variable/add?template_id={{ template.key.id() }}">+</a>
        </td>
        <td class="bordered_cell"></td>
        <td class="bordered_cell"></td>
    </tr>
</table>

{% endblock %}
