{% extends "project_base.html" %}

{% block workspace %}

<h3>Define Documents</h3>

<table class="bordered_table">
    <tr>
        <th class="bordered_cell">Document Name</th>
        <th class="bordered_cell">Description</th>
        <th class="bordered_cell">Style</th>
        <th class="bordered_cell">Document Structure</th>
    </tr>
    {% for document in documents %}
    <tr>
        <td class="bordered_cell">
            <a href="/project/document/edit?project_id={{ project.key.id() }}&document_id={{ document.id }}"
                    >{{ document.name | e }}</a>
        </td>
        <td class="bordered_cell">
            {{ document.description | e }}
        </td>
        <td class="bordered_cell">
            {{ document.style | e }}
        </td>
        <td class="bordered_cell" style="text-align: center">
            <input type="button" value="Define"
                   onclick="document.location=
                   '/project/document/structure?project_id={{ project.key.id() }}&document_id={{ document.id }}'">
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="bordered_cell">
            <a href="/project/document/add?project_id={{ project.key.id() }}">+</a>
        </td>
        <td class="bordered_cell"></td>
        <td class="bordered_cell"></td>
        <td class="bordered_cell"></td>
    </tr>
</table>

{% endblock %}
