{% extends "project_base.html" %}

{% block workspace %}

<h3>Upload File for "{{ variable.name }}"</h3>

<form method="post" action="{{ upload_file_post_url }}" enctype="multipart/form-data">
    <input type="hidden" name="_project_id" value="{{ project.key.id() }}"/>
    <input type="hidden" name="_interview_name" value="{{ interview.name }}"/>
    <input type="hidden" name="_variable_name" value="{{ variable.internal_name }}"/>
    {% if show_index %}
    <input type="hidden" name="_index" value="{{ index }}">
    {% endif %}
    <input type="file" name="upload_file"/>
    <br/><br/>
    <input type="submit" name="upload" value="Upload"/>
    <input type="button" value="Cancel" onclick="document.location='/project/conduct_interview?_project_id={{ project.key.id() }}&_interview_name={{ interview.name }}'">
</form>

{% endblock %}