{% extends "site_base.html" %}

{% block workspace %}

<h3>User Administration</h3>

<table class="bordered_table">
    <tr>
        <th class="bordered_cell">Email</th>
        <th class="bordered_cell" colspan="{{ role_count }}">Site Roles</th>
    </tr>
    {% for user in users %}
    <tr>
        <td class="bordered_cell">
            <a href='/site_admin/site_user_edit?site_user_id={{ user["site_user_id"] }}'>{{ user["email"] | e }}</a>
        </td>
        {% for role in roles %}
        <td class="bordered_cell">
            {{ role | e }}={{ user[role] }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td class="bordered_cell">
            <a href="/site_admin/site_user_add">+</a>
        </td>
        <td class="bordered_cell" colspan="{{ role_count }}"></td>
    </tr>
</table>

{% endblock %}
