{% extends "site_base.html" %}

{% block workspace %}

<div id="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Home
                    <small></small>
                </h3>
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
        <div id="page" class="dashboard">
            <div class="row-fluid">
                <div class="span12">
                    <p>Welcome to <a href="/synopsis">TurboWriter</a>.</p> 
                    <p>Please select a menu option from the menu at the left.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
