<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/style_responsive.css"/>
<link rel="stylesheet" href="/css/style_default.css" id="style_color">
<link rel="stylesheet" href="/assets/fancybox/source/jquery.fancybox.css"/>
<link rel="stylesheet" href="/assets/uniform/css/uniform.default.css" />
<link rel="stylesheet" href="/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" />
<link rel="stylesheet" href="/assets/jqvmap/jqvmap/jqvmap.css" type="text/css" media="screen"/>

<html>
    <head></head>
    <body class="fixed-top">

        <div id="header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="./"><img src="assets/logo.gif" width="175" height="180"></a>
                        <div id="top_menu" class="nav notify-row" style="vertical-align:-45px;">
                            <p style="vertical-align:-45px;font-style:italic;">&nbsp;by Zephyr Media and Communications</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include "begin_content.html" %}
<br><br>
        <a href="{{ url }}">Sign In</a>
        <p>
        Welcome to TurboWriter, a powerful collaborative web-based authoring workbench.
        </p>

        <p>
        Please click "Sign In" to sign into your Google account. You'll be signing into TurboWriter at the same time.
        </p>

        <p>
        <i>Note: If you don't have a Google account, please click "Sign In" to go to the Google Accounts page.
            You'll be able to sign up for a free Google account first, and then you'll be able to sign in.</i>
        </p>

        {% include "gallery.html" %}
    </h3>
    {% include "end_content.html" %}

</body>
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="assets/js/jquery-1.8.3.min.js"></script>
<script src="assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.blockui.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="js/excanvas.js"></script>
<script src="js/respond.js"></script>
<![endif]-->
<script src="./assets/js/scripts.js"></script>
<script>
    jQuery(document).ready(function() {
        // initiate layout and plugins
        App.setMainPage(true);
        App.init();
    });
</script>
<!-- END JAVASCRIPTS -->
</html>
