<li>
<a href="/">
    <span class="icon-box">
        <i class="icon-home"></i>
    </span>
    Home
</a>
</li>
<li>
<a style="text-align: center;">
    <br/>
    Project "{{ project.name | e }}"
    <br/>
</a>
<li>
<a href="/project?project_id={{ project.key.id() }}">
    <span class="icon-box">
        <i class="icon-home"></i>
    </span>
    Project Home
</a>
<ul class="sub">
    <li><a href="/project?project_id={{ project.key.id() }}">Project Home</a></li>
</ul>
</li>
{% if documents %}
<li class="has-sub">
<a href="javascript:;">
    <span class="icon-box">
        <i class="icon-eye-open"></i>
    </span>
    View
    <span class="arrow">
    </span>
</a>
<ul class="sub">
    {% for document in documents %}
    <li><a href="/project/produce_document?project_id={{ project.key.id() }}&document_id={{ document.key.id() }}">{{ document.name }}</a></li>
    {% endfor %}
</ul>
</li>
{% endif %}
{% if assign_writer_interviews %}
<li class="has-sub">
<a href="javascript:;">
    <span class="icon-box">
        <i class="icon-pencil"></i>
    </span>
    Assign Writers
    <span class="arrow">
    </span>
</a>
<ul>
    {% for interview in assign_writer_interviews %}
    <li><a href="/project/conduct_interview?_project_id={{
        project.key.id() }}&_interview_name={{
        interview.name }}{% if interview.show_index %}&_index={{
        interview.index }}{% endif %}">{{
        interview.menu_title }}</a></li>
    {% endfor %}
</ul>
</li>
{% endif %}
{% if assign_reviewer_interviews %}
<li><a>Assign Reviewers</a></li>
<ul>
    {% for interview in assign_reviewer_interviews %}
    <li><a href="/project/conduct_interview?_project_id={{
        project.key.id() }}&_interview_name={{
        interview.name }}{% if interview.show_index %}&_index={{
        interview.index }}{% endif %}">{{
        interview.menu_title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if writer_interviews %}
<li>Write</li>
<ul>
    {% for interview in writer_interviews %}
    <li><a href="/project/conduct_interview?_project_id={{
        project.key.id() }}&_interview_name={{
        interview.name }}{% if interview.show_index %}&_index={{
        interview.index }}{% endif %}">{{
        interview.menu_title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if reviewer_interviews %}
<li>Review</li>
<ul>
    {% for interview in reviewer_interviews %}
    <li><a href="/project/conduct_interview?_project_id={{
        project.key.id() }}&_interview_name={{
        interview.name }}{% if interview.show_index %}&_index={{
        interview.index }}{% endif %}">{{
        interview.menu_title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if is_owner %}
<li class="has-sub">
<a href="javascript:;">
    <span class="icon-box">
        <i class="icon-cogs"></i>
    </span>
    Administration
    <span class="arrow">
    </span>
</a>
<ul class="sub">
    <li><a href="/project_admin/project_settings?project_id={{ project.key.id() }}">Settings</a></li>
    <li><a href="/project_admin/project_user_admin?project_id={{ project.key.id() }}">Team Members</a></li>
</ul>
</li>
{% endif %}
