{% extends "site_base.html" %}

{% block workspace %}

<div id="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    About TurboWriter
</h3>
</div>
<div id="page" class="dashboard">
<div class="row-fluid">
                    <p>
                    <span class=tw>TurboWriter</span> is a powerful, collaborative web-based authoring workbench.
                    <span class=tw>TurboWriter</span> enables subject matter experts to share their knowledge with wide communities of users,
                    and enables project teams to collaborate on an infinite variety of document types.
                    </p>
                    <p>
                    <span class=tw>TurboWriter</span>'s functionality is organized into two major phases: template design, and project execution.
                    </p>
                    <h4>Template Design</h4>
                    <p>
                    Template design is the process of creating the structure of a project
                    so that any number of projects can utilize that structure.
                    </p>
                    <p>
                    When you design a template, you itemize the kinds of information that will need to be written,
                    you describe the documents that will be produced by bringing together that information,
                    and you specify the workflow for carrying out writing assignments in a logical sequence.
                    </p>
                    <p>
                    In addition, you provide formatting information to enhance the appearance of the documents.
                    </p>
                    <p>
                    And perhaps most importantly, you create detailed guidance to the project team, imparting
                    your expertise on how to produce each unit of content.
                    </p>
                    <p>
                    Once you've created a template, you can share with other <span class=tw>TurboWriter</span> users.
                    That makes possible <span class=tw>TurboWriter</span>'s second phase, project execution.
                    </p>
                    <h4>Project Execution</h4>
                    <p>
                    Project execution is the process of a team working collaboratively to write
                    the family of documents that are to be produced by the project.
                    </p>
                    <p>
                    As the project owner, you begin project execution by selecting a template and giving your project a name.
                    </p>
                    <p>
                    Instantly, <span class=tw>TurboWriter</span> presents you with the action items
                    for assigning the first group of writing assignments to members of your team.
                    From that moment until the project is complete, <span class=tw>TurboWriter</span> leads you and your team
                    members every step of the way toward producing the documents you wish to create.
                    </p>
                    <p>
                    In summary, <span class=tw>TurboWriter</span> enables subject matter experts to share their knowledge
                    of how to carry out a particular kind of writing project, and enables project owners
                    to execute their projects, guided by that subject matter expertise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
                    {% endblock %}
