{% extends "project_base.html" %}

{% block workspace %}

<h3>Project User Administration: Edit Project User</h3>

{% if error_msg %}
<p>
    <span class="error">{{ error_msg }}</span>
</p>
{% endif %}

<form method="post">
    <input type="hidden" name="project_id" value="{{ project.key.id() }}">
    <input type="hidden" name="project_user_id" value="{{ project_user_id }}">
    <table>
        <tr>
            <th>Email: {{ email | e }}</th>
        </tr>
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Project Permissions</th>
        </tr>
        {% for permission in permissions %}
        <tr>
            <td>
                <input type="checkbox" name="{{ permission.name }}" {{ permission.checked }}>
                {{ permission.name | e }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <td class="gap"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type="submit" name="update" value="Update Project User">
            </td>
            <td>
                <input type="submit" name="delete" value="Delete User from Project">
            </td>
            <td>
                <input type="button" value="Cancel"
                       onclick="document.location='/project_admin/project_user_admin?project_id={{ project.key.id() }}'">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
