{% extends "project_base.html" %}

{% block workspace %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<link rel="Stylesheet" type="text/css" href="/ui/{{ ui }}/stylesheets/jHtmlArea.css" />
<script type="text/javascript" src="/ui/{{ ui }}/scripts/jHtmlArea-0.7.5.js"></script>

<script>
    $(function() {
        $(".html-editor").htmlarea({});
    })
</script>

<form method="post">
    <input type="hidden" name="_project_id" value="{{ project.key.id() }}">
    <input type="hidden" name="_post_interview_name" value="{{ post_interview_name | e }}">
    {% if show_index %}
    <input type="hidden" name="_index" value="{{ index }}">
    {% endif %}
    {% if from_console %}
    <input type="hidden" name="_from_console" value="yes">
    {% endif %}

    {{ html_document }}

    <p>

        {% if previous_button %}
        <input type="submit" name="_previous" value="{{ previous_button | e }}">
        {% endif %}

        {% if child_button %}
        <input type="submit" name="_child" value="{{ child_button | e }}">
        {% endif %}

        {% if next_button %}
        <input type="submit" name="_next" value="{{ next_button | e }}">
        {% endif %}

        {% if parent_button and not from_document_id %}
        <input type="submit" name="_parent" value="{{ parent_button | e }}">
        {% endif %}

        {% if assign_button %}
        <input type="submit" name="_assign" value="{{ assign_button | e }}">
        {% endif %}

        {% if not_needed_button %}
        <input type="submit" name="_not_needed" value="{{ not_needed_button | e }}">
        {% endif %}

        {% if completed_button and not from_document_id %}
        <input type="submit" name="_completed" value="{{ completed_button | e }}">
        {% endif %}

        {% if from_document_id %}
        <input type="submit" name="_save" value="Save">
        {% endif %}

        {% if from_console %}
        <input type="button" value="Cancel"
               onclick="document.location='/project_admin/console?project_id={{ project.key.id() }}'">
        {% elif from_document_id %}
        <input type="button" value="Cancel"
               onclick="document.location='/project/produce_document?project_id={{ project.key.id() }}&document_id={{ from_document_id }}'">
        {% else %}
        <input type="button" value="Cancel" onclick="document.location='/project?project_id={{ project.key.id() }}'">
        {% endif %}

    </p>
</form>

{% endblock %}
