{% extends "project_base.html" %}

{% block workspace %}

<h3>Console</h3>

<table class="bordered_table">
    <input type="hidden" name="project_id" value="{{ project.key.id() }}">
    <tr>
        <th class="bordered_cell">Assignment</th>
        <th class="bordered_cell">Status</th>
        <th class="bordered_cell">Actions</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
        <td class="bordered_cell" rowspan=5>
            {{ assignment.name | e }}
        </td>
    </tr>
    <tr>
        <td class="bordered_cell">
            Assigned writer: {{ assignment.writer | e }}
        </td>
        <td class="bordered_cell">
            <input type="button" value="Assign Writer"
                   onclick="document.location='/project/conduct_interview?_project_id={{ project.key.id() }}&_interview_name={{ assignment.assign_writer_interview_name }}&_from_console=yes'"/>
        </td>
    </tr>
    <tr>
        <td class="bordered_cell">
            Assigned reviewer: {{ assignment.reviewer | e }}
        </td>
        <td class="bordered_cell">
            <input type="button" value="Assign Reviewer"
                   onclick="document.location='/project/conduct_interview?_project_id={{ project.key.id() }}&_interview_name={{ assignment.assign_reviewer_interview_name }}&_from_console=yes'"/>
        </td>
    </tr>
    <tr>
        <td class="bordered_cell">
            {{ assignment.draft_status }}
        </td>
        <td class="bordered_cell">
            <input type="button" value="Write"
                   onclick="document.location='/project/conduct_interview?_project_id={{ project.key.id() }}&_interview_name={{ assignment.write_interview_name }}&_from_console=yes'"/>
        </td>
    </tr>
    {% if assignment.ready_to_review %}
    <tr>
        <td class="bordered_cell">
            {{ assignment.review_status }}
        </td>
        <td class="bordered_cell">
            <input type="button" value="Review"
                   onclick="document.location='/project/conduct_interview?_project_id={{ project.key.id() }}&_interview_name={{ assignment.review_interview_name }}&_from_console=yes'"/>
        </td>
    </tr>
    {% else %}
    <tr>
        <td class="bordered_cell">
            Not ready to review
        </td>
        <td class="bordered_cell">
            <input type="button" value="Review"
                   onclick="document.location='/project/conduct_interview?_project_id={{ project.key.id() }}&_interview_name={{ assignment.review_interview_name }}&_from_console=yes'" disabled="disabled"/>
        </td>
    </tr>

    {% endif %}
    {% endfor %}
</table>

{% endblock %}
