<ul class="menu">
    <li class="topboth"><a href="/" style="height:20px;line-height:20px;">Home</a></li>
</ul>
<ul class="menu">
    <li class="topboth"><a href="#" style="height:20px;line-height:20px;">Projects</a>
        <ul>
            {% for project in user_projects %}
            <li><a href="/project?project_id={{ project.project_id }}">{{ project.name }}</a></li>
            {% endfor %}
            <li><a href="/project_admin/new_project">Create a New Project</a></li>
        </ul>
    </li>
</ul>
<ul class="menu">
    <li class="topboth"><a href="#" style="height:20px;line-height:20px;">Templates</a>
        <ul>
            {% for template in user_templates %}
            <li><a href="/template?template_id={{ template.template_id }}">{{ template.name }}</a></li>
            {% endfor %}
            <li><a href="/template_admin/new_template">Create a New Template</a></li>
        </ul>
    </li>
</ul>
{% if SITE_ADMIN %}
<ul class="menu">
    <li class="topboth"><a href="#" style="height:20px;line-height:20px;">Site Administration</a>
        <ul>
            {% if SITE_ADMIN_SETTINGS %}
            <li><a href="/site_admin/site_settings">Site Settings</a></li>
            {% endif %}

            {% if SITE_ADMIN_USERS %}
            <li><a href="/site_admin/site_user_admin">Site User Administration</a></li>
            {% endif %}

            {% if SITE_ADMIN_TEMPLATES %}
            <li><a href="/site_admin/template_admin">Template Gallery Administration</a></li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endif %}
